<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{#unless isHome}}
  <header>
    <nav>
      <ul class="nav-area">
        <li><a href="/"> Cerrar sesión</a></li>
        <li><a href="/users/Calendario">Calendario de Riego</a></li>
        <li><a href="/Datos">Datos de Riego</a></li>
        <li><a href="/Panel">Panel de Usuario</a></li>
        <li><a href="/users/historial">Ver Historial de Riegos</a></li>
      </ul>
    </nav>
  </header>
  {{/unless}}

  
  {{{body}}}
</body>

</html>