<body>
    <div class="content">
        <br>
        <div class="welcome">
            <br>
            <center><span>BIENVENIDO, {{user.name}}</span></center>
            <center>
                <h2>al Panel de Usuario</h2>
            </center>
            <br>
        </div>

        <div class="actions">
            <br>
            <center>
                <h3>MENU DE ACCIONES:</h3>
            </center>
            <br><br><br>
            <div class="botonesimg">
                <a href="/editar" class="button">
                    <img src="/images/editar.png" alt="Modificar Usuario" width="50" height="50">
                    <h5>MODIFICAR USUARIO</h5>
                </a>
                <a href="/eliminar" class="button">
                    <img src="/images/borrar.png" alt="Eliminar Usuario" width="50" height="50">
                    <h5>ELIMINAR USUARIO</h5>
                </a>
                <a href="/listar" class="button">
                    <img src="/images/listar.png" alt="Listar Usuario" width="50" height="50">
                    <h5>INFORMACION DE USUARIO</h5>
                </a>
            </div>
            
            <div class="end">
                <CEnter>
                    <a href="/" class="button">
                        <img src="/images/salida.png" alt="Cerrar Sesion" width="50" height="50">
                        <h5>CERRAR SESION</h5>
                    </a>
                </CEnter>
            </div>
        </div>
    </div>
</body>