<form method="post" action="/clientes/consultaClientes" class="form-register">
        <h4>Consulta por Rut</h4>
        <input class="controls" type="text" name="run" id="run" placeholder="Ingrese su Run">
        <input class="botons" type="submit" value="Consultar">
</form>