{{#if auth}}
<div class="container">
    <a href="/cuentas/registrar" class="icon-link">
        <img src="/images/agregar1.png" class="icon-image">
        <span>Registrar Cuentas</span>
    </a>
    <a href="/cuentas/formulario" class="icon-link">
        <img src="/images/listar.png" class="icon-image">
        <span>Detalle Cuentas</span>
    </a>
</div>
{{else}}
<p>Debe iniciar sesión para acceder a esta sección.</p>
{{/if}}
