<form method="post" action="/cuentas/listarForms" class="form-register">
        <h4>CUENTAS DEL CLIENTE</h4>
        <input class="controls" type="text" name="id_cliente" id="id_cliente" placeholder="id_cliente">
        <input class="botons" type="submit" value="Consultar">
</form>