<center>
    <div class="col-lg-6 col-md-6 banner-left">
        <h4 class="text-white">Bienvenido al Mejor Banco de tu Vida</h4>
        <h1 class="text-white">Bullan's Bank</h1>
        <p class="text-white">
            Nos dedicamos a ofrecerte soluciones financieras personalizadas para ayudarte a alcanzar tus metas.
        <p>
            Únete a nosotros y descubre cómo nuestros servicios innovadores pueden hacer crecer tu patrimonio de manera
            segura y eficiente.
        </p>

        </p>
        <br>
        <a href="/Usuarios" class="primary-btn text-uppercase">Unete Aqui</a>
        <a href="/login" class="primary-btn text-uppercase">¿Ya Tienes Cuenta? Click Aqui</a>
    </div>
</center>