<div class="container">
    <form method="post" action="/loginUser" class="form-register">
        <center><h4>INICIAR SESION</h4></center>
        
        <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Correo">
        <input class="controls" type="password" name="pass" id="pass" placeholder="Ingrese su Contraseña">
        
        <input class="botons" type="submit" value="LOGIN">
    </form>
</div>