<p>{{mensaje}}</p>
<div class="container">

    <a href="/" class="icon-link">
        <img src="/images/home.png" class="icon-image">
        <span>Inicio</span>
    </a>
    <a href="/panel" class="icon-link">
        <img src="/images/panel.png" class="icon-image">
        <span>Ir al panel</span>
    </a>

</div>