<form method="post" action="/clientes/modificar" class="form-register">
  <h4>Ingrese ID del cliente a modificar:</h4>
  <input class="controls" type="text" name="id_cliente" id="id_cliente" placeholder="Ingrese el id del cliente">
  <input class="botons" type="submit" value="Seleccionar">
</form>