<div class="container">
    <form method="post" action="/clientes/registrarCliente" class="form-register">
        <h4>Formulario Registro</h4>
        <input class="controls" type="text" name="run" id="run" placeholder="Ingrese su Run">
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre">
        <input class="controls" type="text" name="direccion" id="direccion" placeholder="Ingrese su Direccion">
        <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Correo">
        <input class="controls" type="text" name="telefono" id="telefono" placeholder="Ingrese su Telefeno">
        
        <input class="botons" type="submit" value="Registrar">
    </form>
</div>