<div class="container">
    <form method="post" action="/registrarUser" class="form-register">
        <h4>Formulario Registro</h4>
        
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre">
        <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Correo">
        <input class="controls" type="password" name="pass" id="pass" placeholder="Ingrese su Contraseña">
        
        <input class="botons" type="submit" value="Registrar">
    </form>
</div>